{% if objects.paginator.num_pages > 1 %}
    <style>
        .django-pager{text-align: center;}
        .django-pager>li{display: inline-block; *display:inline; *zoom:1; min-width: 15px; height: 20px; font-size: 14px; padding: 5px; margin: 5px;}
        .django-pager li.active{background-color: #A4A4A4; border-radius: 10px;}
        .django-pager li.active a{color: #fff;}
    </style>
    <ul class="{% if class %}{{ class }}{% else %}django-pager{% endif %}">
        {% if objects.has_previous %}
            <li>
                <a href="{{request.path}}?page={{ objects.previous_page_number }}" title="Назад">←</a>
            </li>
        {% endif %}
        
        {% for range in objects.paginator.page_ranges %}
            {% for n  in range %}
                <li class="{% if objects.number == n %}active{% endif %}">
                    <a href="{{request.path}}?page={{n}}">{{n}}</a>
                </li>
            {% endfor %}
            {% if not forloop.last %}
                <li>...</li>
            {% endif %}
        {% endfor %}
        
        {% if objects.has_next %}
            <li>
                <a href="{{request.path}}?page={{objects.next_page_number}}" title="Далее">→</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
